---
layout: default
permalink: /404.html
---

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
    padding-top: 60px;
  }
</style>

<div class="container">
  <img src="https://github.com/strongSoda/DevHoot.io/blob/master/assets/img/404.gif?raw=true" width="100%" alt="404 - Page not found">
  <p><strong>Page not found :(</strong></p>
  <p>I'm sorry. We couldn't find the page you are looking for.</p>
</div>
